* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FED7BA;
}

.header {
    border-color: #84292B;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    /* padding: 1rem; */
    font-family: "Poppins";
    align-items: center;
    padding-bottom: 10px;

}

.logo {
    width: 200px;
}

.nav {
    display: flex;
    gap: 1rem;
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 10px;
    padding-top: 10px;

}

.nav a:hover {
    color: #8B0000;
    ;
}

.nav li {
    list-style: none;
}

.nav a {
    color: black;
    font-size: 20px;
    text-decoration: none;
}
.nav button{

    border-radius: 50px;
    font-size: 20px;
    padding: 5px 10px;
    color: white;
    background-color: darkred;
    cursor: pointer;
    
}
.nav button:hover{
    color: black;
    background-color: rgb(225, 243, 59);
}
ul {
    padding-top: 10px;
}

#option {
    background-color: white;
    border-color: transparent;

}

#option:hover {
    padding-top: 5px;
}

.side-navbar ul li,
h1 {
    list-style: none;
    background-color: white;
}

.side-nav-heading a {
    color: black;
    text-decoration: none;
    font-weight: 520;
    font-size: 20px;
   
}
.profile {
    background-color: white;
    
}

.profile button {
    background-color: #FED7BA;
    width: 210px;
    font-size: 20px;
    font-weight: 700;
    height: 46px;
}

i{
    background: transparent;
}
.profile i {
    background-color: #FED7BA;
    padding-right: 5px;
}

.profile button:hover {
    background-color: #FED7BA;
    color: red;
}

.side-nav-heading a:hover {
    color: #8B0000;
    font-weight: 600;
}
li{
    font-size: 12px;
    cursor: pointer;
    padding-left: 10px;
    
}
li:hover{
    color: #8B0000;
    font-weight: 600;
    transform: scaleX(1.1);
}

.secondary-section {
    grid-template-columns: repeat(2, 1fr);
}

.side-navbar {
    width: 250px;
    height: 947px;
    background-color: white;
    padding: 10px 20px;
}

.side-nav-heading a {
    color: black;

}

.side-navbar .tag {
    height: auto;
    background-color: #b5c10c;
    box-sizing: border-box;
    border-color: #b5c10c;
}

.tag h1 {
    color: rgb(202, 35, 35);
    font-size: 20px;
    padding-left: 20px;
    margin-top: -10px;
}

.tag p {
    color: black;
    background-color: white;
    font-size: 15px;
}

.side-nav-heading a:hover {
    color: #8B0000;
    transform: scaleX(1.1);
    font-weight: 600;
    text-decoration: underline;
}


.side-navbar h1,
.side-navbar li,
.side-navbar a,
.side-navbar ul,
.side-nav-heading li {
    background-color: white;
    list-style: none;
    padding-top: 10px;

}

/* ------------------------------------------------------------------------------------------- */

.first {
    width: 100%;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}

a {
    background-color: transparent;
    text-decoration: none;
    color: black;
}

/* -------------------------------------------------------------------------------------------- */
.square1 {
    width: 40%;
}

.heading-container {
    width: 100%;
    height: auto;
    margin-left: -60%;
    background-color: white;
}

.heading {
    width: 157%;
    height: auto;
}

.head0 {
    width: 100%;
    height: auto;
    background-color: white;
}

.section1 {
    text-align: left;
    padding: 20px 20px;
    background-color: white;
}
.section1 button{
    cursor: pointer;
    font-weight: 600;
    padding: 10px 30px;
    background-color: #f7b5d4;
    border-radius: 15px;
}
.section1 button:hover{
background-color: white;


}
.section2 {
    width: 80%;
    background-color: white;
}

.name {
    padding: 10px 0px;
    color: red;
    background-color: white;
    width: 200px;

}

.edit {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: red;
    background-color: white;
    padding: 20px 0px;
    width: 500px;
    margin-left: 70%;

}

.first1 {
    width: 150px;
    margin-left: 83%;
    background-color: white;
    color: red;

}

.first2 {
    background-color: white;
    padding-left: 7px;
    width: 150px;
}

.first3 {
    background-color: white;
    padding-left: 5px;
    width: 150px;
    margin-left: -90%;
    color: red;

}
.first1 a,
.first3 a{
    color: red;
    font-weight: 600;
}
.first1 a:hover,

.first3 a:hover{
    color: rgb(57, 19, 213);
    font-weight: 800;
}

form {
    margin-left: 50px;
}

.name1 {
    padding-bottom: 10px;
    background-color: white;
    border-radius: 40px;
}

.head1 {

    width: 80%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: white;
    padding-top: 10px;
}

.name h1 {
    padding-left: 0px;
}

.radio {
    background-color: white;
    padding-top: 40px;
    padding-bottom: 20px;
}

.checkmark {
    background-color: white;
}

.head2 {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: white;
    padding-bottom: 30px;
}

label {
    padding-left: 20px;
    background-color: white;
    color: black;
    font-size: 20px;
    font-weight: 800;

}

p {
    padding: 10px 20px;
    background-color: white;
    color: #3e3e3e;
    font-weight: 500;
}

.btn {
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

.btn button {

    margin-left: 3%;
    color: white;
    background-color: #892d2d;
    padding: 10px 20px;
}

.btn button:hover {
    cursor: pointer;
    color: black;
    background-color: #83b40f;

}

.box {
    background-color: white;
    padding-top: 15px;
}

.input {
    background-color: white;
    width: 800px;
    block-size: 50px;
}

.input:hover {
    color: black;
    padding-left: 10px;
    font-size: 20px;
    background-color: rgb(245, 155, 227);

}

.btn {

    background-color: white;
    padding-top: 30px;
    padding-bottom: 100px;
}

button1 {

    border-radius: 50px;
    margin-left: 0%;
    color: white;
    background-color: #892d2d;
    padding: 10px 20px;
}

button1:hover {
    cursor: pointer;
    color: black;
    background-color: #eff83c;

}

form .inputbox span {
    display: block;
    color: black;
    padding-bottom: 5px;

}

.flexbox {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.inputbox input,
.inputbox select {
    width: 30%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid;
    color: #84292B;

}

form .inputbox .flexbox {
    display: flex;
    gap: 15px;

}

.month,
.year,
.cvv {
    background-color: white;
}

.month:hover,
.year:hover,
.cvv:hover {

    background-color: rgb(118, 109, 109);
    color: rgb(8, 8, 8);
}

span {
    background-color: white;
    padding-top: 20px;

}

form .flexbox .inputbox {
    background-color: white;
    flex: 1 1 150px;
    padding-bottom: 30px;
}

/* ------------------------------------------------------------------------- */
footer {

    margin-top: 9.5%;
}

.main-footer {
    background-color: #D9D9D9;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 1rem 2rem;
    font-family: "Nunito Sans";
    margin-top: 2rem;
}

.main-footer li {
    list-style: none;
    font-size: 15px;
}

.main-footer ul {
    display: block;
    margin-inline: auto;
    cursor: pointer;

}

.list-heading {
    color: #8B0000;
    margin-bottom: 1rem;
    font-weight: 600;
}

.main-footer div,
.main-footer ul,
.main-footer li,
.main-footer i,
.main-footer p {
    background-color: transparent;
}

.socials {
    grid-row: 3/4;
    grid-column: 2/4;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.socials p {
    color: #8B0000;
    font-weight: bold;
}

.copyright {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 30px;
    font-family: "Nunito Sans";
    color: #8B0000;
    font-weight: 600;
}