* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FED7BA;

}

.header {
    border-color: #84292B;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    font-family: "Poppins";
    align-items: center;
    padding-bottom: 10px;
}

.logo {
    width: 200px;
}

.nav {
    display: flex;
    gap: 1rem;
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 10px;
}

.nav a:hover {
    color: #8B0000;
    ;
}

.nav li {
    list-style: none;
}

.nav a {
    color: black;
    text-decoration: none;
}

ul {
    list-style: none;
    padding-top: 10px;
}
/* ----------------------------------REGISTRATION FORM------------------------------------------------ */
.hero {
    height: auto;
    width: auto;
    background-image: linear-gradient();
    background-color: center;
    background-size: cover;
    position: absolute;
    z-index: 1;
    margin-top: 0%;
    margin-left: -10%;

}


.registration_form {
    display: none;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: auto;
    width: 500px;
    
}

.container1 {
    box-sizing: border-box;
    border-color: black;
    border-style: solid;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: auto;
    height: 80%;
    margin: 10px 10px;

}


.container1 .first1 img {
   width: 450px;
    height: 600px;
    justify-content: center;
    margin-left: 0%;
    margin-top: 0%;
}

.form-box {
    width: 450px;
    height: 600px;
    position: relative;
    margin: 0% auto;
    background: white;
    padding: 0px;
    overflow: hidden;
    margin-left: 0%;

}

.button-box {
    width: 230px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px black;
    border-radius: 30px;
}

.toggle-btn {
    padding: 10px 35px;
    color: black;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, rgb(47, 166, 55), yellow);
    border-radius: 30px;
    transition: 0.5s;
}

.input-group {
    top: 140px;
    position: absolute;
    width: 300px;
    height: 500px;
    transition: 0.5s;
    background-color: white;
}

.forgot {
    background-color: white;
    padding-top: 30px;
    overflow: hidden;
}

.forgot a {
    background-color: white;
}


.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #7b0b71;
    outline: none;
    background: transparent;
}

.sign {
    padding-top: 20px;
    background-color: white;
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    background: rgb(245, 77, 105);
    border: 0;
    outline: none;
    border-radius: 30px;

}

.btn3 {
    padding-top: 30px;
    background-color: white;
}

.submit-btn2 i {
    background-color: rgb(200, 33, 33);
}

.submit-btn2 {
    width: 100%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    background-color: rgb(200, 33, 33);
    border: 0;
    outline: none;
    border-radius: 30px;
    padding-top: 10px;
}

.submit-btn2:hover {
    color: rgb(157, 187, 9);
}

.nav button {

    color: black;
border-style: none;
font-size: 20px;
}

.close {
    width: 30px;
    margin-left: 90%;
    margin-top: -22%;
}

.close button {
    background-color: black;
    padding: 5px;
}
.close i{
    background-color: transparent;
    font-size: 22px;
}

.nav #openformBtn i {
    width: 20px;
    height: 15px;
    padding-left: 10px;
    background-color: transparent;
}

.check-box {
    height: 15px;
    margin-left: 0%;
    margin-top: 10px;
}

 span {
    color: #777777;
    font-size: 14px;
    margin-left: 0%;
    background-color: white;
    
}

#login {
    left: 50px;
}

#SignUp {
    left: 450px;
    margin-left: 50px;
}

#login a {
    cursor: pointer;
    padding: 30px 30px;
    color: rgb(201, 13, 6);
}

#login a:hover {
    cursor: pointer;
    padding: 30px 30px;
    color: rgb(38, 5, 103);
}
/* ------------------------------------------------------------------------------------ */
.container {
    width: 100%;
    height: 800px;
}

.contain {
    width: 100%;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.first {
    width: 100%;
    height: 800px;
}

.side-navbar {

    padding-left: 35px;
}

.btn {
    padding-top: 20px;
}

.first button {
    cursor: pointer;
    width: 200px;
    background-color: #8B0000;
    color: white;
    padding: 20px;
    border-radius: 40px;
}
.first button:hover{
    color: rgb(101, 20, 4);
    background-color: #D9D9D9;
}
.link{
    padding-top: 50px;
}
.link a{
    padding-left: 50px;
    padding-right: 50px;
color: #8B0000;
}
.link1 {
    padding-top: 20px;
}
.link1 a{
    
    text-align: center;
    color: #8B0000;
    padding-left: 180px;
}
.link i,.link1 i{
    color: black;
}

.side-image {
    position: relative;
    display: grid;
    width: 100%;
    height: 800px;
}

.collect {
    margin-top: -20%;
    width: 100%;
    height: 600px;
}
.head0 {
    margin-left: 20%;
    width: 90%;  
    padding-bottom: 40px; 
}
.head0 h2{
    
    font-size: 18px;
    font-weight: 300;
    
}

.head1 {
    width: 300%;
}

.head1 h1 {
    font-size: 20px;
    font-weight: 1000;

}

.head1 p {
    font-family: Poppins;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    width: 110%;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}

.head2 {
    padding-top: 20px;
    width: 300%;
}

.head2 h1 {
    font-size: 20px;
    font-weight: 200;
    color: #8B0000;
    padding-bottom: 10px;
}

.head2 h3 {
    font-size: 20px;
    font-weight: 1000;
    color: #8B0000;

}

.head2 p {
    font-size: 12px;
    font-weight: 100;
    color: #8B0000;
}

.head3 {
    width: 150%;
    padding-top: 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.head3 button {
    background-color: rgb(228, 110, 130);
    width: 80px;
    height: 40px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

.collect .head3 i,
.collect button {
    background-color: rgb(228, 110, 130);
    color: black;
    border-radius: 20px;
}

.head3 p {
    width: 200%;
    padding-top: 15px;
    font-weight: 100;
    color: rgb(128, 128, 229);
}

.head4 {
    width: 100%;
}

.head4 h1 {
    padding-top: 10px;
    font-size: 23px;
    width: 100%;
    color: #8B0000;
}

.head4 p {
    font-family: Poppins;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;

    padding-top: 10px;
    width: 300%;
    color: black;
    font-size: 18px;
}

.head4 p1 {
    color: rgb(235, 72, 72);
}

/* -------------------------------------------------------------- */
.head5 {
    width: 300%;
    padding-top: 20px;
}

.head5 button {
    width: 100px;
    padding: 1px;
}

.head5 p1 {
    padding-left: 70px;
    padding-right: 20px;
    color: rgb(235, 72, 72);

}

.head5 p2 {
    
    font-family: Poppins;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}
.head5 p3 {
    padding-left: 30px;
}
.head5 p2 i{
    color: black;
}
p4{
    color: rgb(235, 72, 72);
}
.head6 {
    padding-top: 20px;
    width: 200%;

}
.head6 label{
    padding-right: 10px;
    padding-bottom: 10px;
}

/* ----------------------------------------------------------------------------------------------- */
.heading {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    padding: 5px;
    background-color: white;
}

h2 {
    text-align: left;
    margin-left: -30%;
    margin-top: 10%;
    margin-bottom: -8%;
    font-weight: 200;
}

.second {
    width: 600px;
    height: 550px;
margin-left: -15%;
}

.heading p {
    background-color: white;
    padding: 10px;
    margin-left: -100%;
    width: 1190px;
    text-align: center;
    font-weight: 600;

}

.side-image {
    width: 500px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 70px;


}

.click {
    width: 1000px;
    height: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 150px;
    margin-left: -40%;

}
.col{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.col p{
    padding-top: 8px;
    margin-left: -50%;
}
.col p1{
    padding-top: 0px;
    color: #8B0000;
    margin-left: -115%;
}
.btn p{
    margin-left: -40%;
}
.right {
    padding-right: 250px;
    margin-left: -18%;
}

.side-image img {
    width: 300px;
    height: 300px;
    margin-left: -60%;
    padding-right: 40px;
}

.side-image img:hover {
    cursor: pointer;
    transform: scaleY(0.9);
    transition-duration: 1s;
}

/* ------------------------------------------------------------------------- */
footer {

    margin-top: 90%;
}

.main-footer {
    background-color: #D9D9D9;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 1rem 2rem;
    font-family: "Nunito Sans";
    margin-top: 2rem;
}

.main-footer li {
    list-style: none;
}

.main-footer ul {
    display: block;
    margin-inline: auto;
    cursor: pointer;

}

.list-heading {
    color: #8B0000;
    margin-bottom: 1rem;
    font-weight: 600;
}

.main-footer div,
.main-footer ul,
.main-footer li,
.main-footer i,
.main-footer p {
    background-color: transparent;
}

.socials {
    grid-row: 3/4;
    grid-column: 2/4;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.socials p {
    color: #8B0000;
    font-weight: bold;
}

.copyright {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 30px;
    font-family: "Nunito Sans";
    color: #8B0000;
    font-weight: 600;
}